name: Build and Upload EXE on Release

on:
  release:
    types: [published]

jobs:
  build_windows:
    runs-on: windows-2022
    steps:
      - name: 检出代码
        uses: actions/checkout@v3

      - name: 安装Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: 打包
        run: |
          pip install py7zr
          cd D:\a\Ltranslator\Ltranslator
          python .\build.py
          py7zr c .\mydist.7z .\dist\main

      - name: 上传EXE到Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./mydist.7z
          asset_name: main-windows-server-2022.7z
          asset_content_type: application/octet-stream
          
  build_ubuntu:
    runs-on: ubuntu-22.04
    steps:
      - name: 检出代码
        uses: actions/checkout@v3

      - name: 安装Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: 打包
        run: |
          pip install py7zr
          Xvfb :0 -screen 0 1024x768x24 &
          export DISPLAY=:0
          cd ~/work/Ltranslator/Ltranslator
          python3 ./build.py
          py7zr c ./mydist.7z ./dist/main

      - name: 上传EXE到Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./mydist.7z
          asset_name: main-ubuntu-22-04.7z
          asset_content_type: application/octet-stream

  build_macos:
    runs-on: macos-14
    steps:
      - name: 检出代码
        uses: actions/checkout@v3
        
      - name: 安装Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: 打包
        run: |
          pip install py7zr
          cd ~/work/Ltranslator/Ltranslator
          python3 ./build.py
          py7zr c ./mydist.7z ./dist/main

      - name: 上传EXE到Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./mydist.7z
          asset_name: main-macos-14.7z
          asset_content_type: application/octet-stream